<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel_Booking</title>
</head>
<body>
    <h1>Listing Details : </h1>
    <ul>
        <li>Title: <%= listing.title %></li>
        <li>Description: <%= listing.description %></li>
        <li>Price: &#8377; <%= listing.price %> per night</li>
        <li>Location: <%= listing.location %></li>
    </ul>
    <br>
    <a href="/listings/<%= listing._id %>/edit">Edit Listing</a>
    <br><br>
    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button>Delete Listing</button>
    </form>
</body>
</html>